.navbar {
    background-color: none !important;
}

body {
    background-image: url(images/Social-Media-clickcheck.jpg);
}

/* .number1 {
    display: flex;
    align-items: unset;
}

.fooot {
    margin-bottom: 0px;
} */