.navbar {
    background-color: #1976D2 !important;
}

.nav-link {
    color: white !important;
    font-weight: bold;
    padding-right: 50px !important;
}

.nav-link:hover {
    font-size: 18px;
    color: brown !important;
}

.fa-shopping-cart, .fa-user-circle-o {
    font-size: 28px !important;
}

.d-block {
    width: 1400px !important;
    height: 500px  !important;
}

@media only screen and (min-width: 770px) {
    .d-block {
        width: 100% !important;
    }
}

@media only screen and (min-width: 300px) {
    .d-block {
        width: 100% !important;
    }
}

.card1, .card2, .card3 {
    display: flex;
    /* width: 30%;
    height: 25px; */
    background-color: white;
    box-shadow: 2px 4px 5px grey;
    /* margin: 30px auto ; */
    margin-top: 30px;
    margin-left: 30px;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: #1976D2;
    width: 300px;
    text-align: center;
}

@media only screen and (max-width: 935px) {
    .card1, .card2, .card3 {
        margin: 30px auto;
    }
}

.fa-truck, .fa-phone, .fa-thumbs-up {
    margin-right: 20px;
    font-size: 32px !important;
    color: white;
}

h5 {
    font-weight: bold;
    font-family: serif;
    color: white;
}

.maincard {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
}

.newarivales {
    margin: 70px 50px;
    flex-wrap: wrap;
}

b {
    color: #1976D2;
    font-weight: bold;
    font-family: serif;
}

.card {
    margin: 30px auto;
}

